@charset "ISO-8859-1";

   .jumbotron {
    background-color: darkblue;
    color: #fff;
    padding: 60px 25px;
    font-family: Montserrat, sans-serif;
  }
  .navbar {
    margin-bottom: 0;
    background-color: darkblue;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
.row{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 4%;
}
  .panel {
    
    border: 1px solid darkblue; 
    border-radius:0 !important;
    transition: box-shadow 1s;
    width: 100%;

  }
  .panel:hover {
    box-shadow: 6px 0px 40px rgba(0,0,0, .6);
  }
  